/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 100vh;
    background: #473131;
    background: linear-gradient(to right,  #ee0979, #ff6a00);
    overflow: hidden;
}

.result_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.button {
    margin: 10px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 10px solid black;
    border-radius: 50%;
    padding: 1rem;
}

.btn-img{
    width: 8rem;
    height: 8rem;
}

.result-img{
    width: 5rem;
    height: 5rem;
}

.score-btn{
    border: none;
    background: black;
    padding: 1rem 1.5rem;
    color: whitesmoke;
}

@media (max-width: 650px) {
    .container{
        height: auto;
        overflow-y: auto;
    }
}   